<div class="row">
    <style>

    #tbodyTable2{
        font-size: smaller;
    }
    #tbodyTable2 > tr > td {
        padding: 0.25rem;
    }
    .table{
        margin-bottom: 0;
    }
</style>
    <section class="cold-sm-12 mx-auto" id="dashboardTitleCard">
        <div class="card-body">
            <div class="text-center">
                <h1>PRESIDENCIALES</h1>
            </div>
            <div class="d-flex flex-lg-row flex-column justify-content-around">
            <!-- Filtro provincias -->
            <div class="form-group">
                <label>
                    <strong>Provincia</strong>
                </label>
                <select class="form-control">
                    <option value="">San Pedro de Macoris</option>
                </select>
            </div>

            <!-- Filtro municipios -->
            <div class="form-group ml-lg-2">
                <label>
                    <strong>Municipio</strong>
                </label>
               <select name="" id="" class="form-control">
                   <option value="todos">Todos</option>
                   <option value="San Pedro de Macoris">San Pedro de Macoris</option>
                   <option value="Consuelo">Consuelo</option>
                   <option value="Guayacanes">Guayacanes</option>
                   <option value="Los Llanos">Los Llanos</option>
                   <option value="Quisqueya">Quisqueya</option>
                   <option value="Ramon Santana">Ramon Santana</option>
               </select>
            </div>

            <!-- Filtro cargos -->
            <div class="form-group ml-lg-2" id="Cargo">
                <label>
                    <strong>Nivel de Eleccion</strong>
                </label>
                <div>
                    <select name="" id="" class="form-control">
                        <option value="presidencial">Presidencial</option>
                        <option value="senatorial">Senatorial</option>
                        <option value="diputadosd1">Diputados</option>
                        <option value="diputadosd2">Diputados D1</option>
                    </select>
                </div>
            </div>

            <!-- Filtro circunscripciones -->
        

            <div class="form-group ml-lg-2 d-flex flex-column justify-content-end">
                <button class="btn btn-actualizar btn-primary" type="button" id="boton-actualizar" onclick="opcionesToolbarController.getResultadoVotacion();">
                    <i class="fas fa-sync"></i>
                    Actualizar
                </button>
            </div>
        </div>
        </div>
    </section>

    <section class="col-lg-12 ui-sortable">
        

<div class="card presentarBoletin" style="position: relative; left: 0; right: 0;">
    <div class="card-header">
        <div class="row">
            <div class="col-8">
                <b class="table-title">Progreso de Votación</b>
            </div>
            <div class="col-4">
                <b id="ultimaActualizacion" class="table-title pull-right">Última Actualización: 15/04/2020 06:20 pm</b>
            </div>
        </div>
        <!-- /.card-tools -->
    </div>
    <!-- /.card-header -->
    
        <div class="table-responsive">
            <table class="table table-striped">
                <thead></thead>
                <tbody id="tbodyTable2">
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="border-right"></td>
                    <td>TOTAL DE INSCRITOS</td>
                    <td id="totalInscritos" class="text-right">{{commaNumber inscritos.sanPedro}}</td>
                    <td></td>
                    <td class="border-right"></td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="border-right"></td>
                    <td>VOTOS EMITIDOS</td>
                    <td id="votosEmitidos" class="text-right">{{commaNumber votos.emitidos}}</td>
                    <td id="porcentajeVotosEmitidos" class="text-right">{{votos.porcientoEmitidos}}%</td>
                    <td></td>
                </tr>
                <tr>
                    <td>TOTAL DE COLEGIOS</td>
                    <td id="totalColegios" class="text-right">{{colegio.total}}</td>
                    <td></td>
                    <td class="border-right"></td>
                    <td>VOTOS VALIDOS</td>
                    <td id="votosValidos" class="text-right">{{commaNumber votos.validos}}</td>
                    <td id="porcentajeVotosValidos" class="text-right">{{votos.porcientoValidos}}%</td>
                    <td></td>
                </tr>
                <tr>
                    <td>COLEGIOS COMPUTADOS</td>
                    <td id="colegiosComputados" class="text-right">{{colegio.computados}}</td>
                    <td id="porcentajeColegiosComputados" class="text-right">{{colegio.porcientoComputado}}%</td>
                    <td class="border-right"></td>
                    <td>VOTOS NULOS</td>
                    <td id="votosNulos" class="text-right">{{commaNumber votos.nulos}}</td>
                    <td id="porcentajeVotosNulos" class="text-right">{{votos.porcientoNulos}}%</td>
                    <td></td>
                </tr>
                <tr>
                    <td>COLEGIOS FALTANTES</td>
                    <td id="colegiosFaltantes" class="text-right">{{colegio.faltantes}}</td>
                    <td id="porcentajeColegiosFaltantes" class="text-right">{{colegio.porcientoFaltante}}%</td>
                    <td class="border-right"></td>
                    <td>VOTOS OBSERVADOS</td>
                    <td id="votosObservados" class="text-right">{{commaNumber votos.observados}}</td>
                    <td id="porcentajeVotosObservados" class="text-right">{{votos.porcientoObservados}}%</td>
                    <td></td>
                </tr>
                </tbody>
                <tfoot></tfoot>
            </table>
        </div>
    </div></div></div><div class="os-scrollbar os-scrollbar-horizontal os-scrollbar-unusable"><div class="os-scrollbar-track os-scrollbar-track-off"><div class="os-scrollbar-handle" style="width: 100%; transform: translate(0px, 0px);"></div></div></div><div class="os-scrollbar os-scrollbar-vertical os-scrollbar-unusable"><div class="os-scrollbar-track os-scrollbar-track-off"><div class="os-scrollbar-handle" style="height: 100%; transform: translate(0px, 0px);"></div></div></div><div class="os-scrollbar-corner"></div></div>
</div>
    </section>
</div>
<form >
    <input type="hidden" id="pld" value="{{votosPartidos.pld}}">
    <input type="hidden" id="prm" value="{{votosPartidos.prm}}">
    <input type="hidden" id="prd" value="{{votosPartidos.prd}}">
    <input type="hidden" id="prsc" value="{{votosPartidos.prsc}}">
    <input type="hidden" id="alpais" value="{{votosPartidos.alpais}}">
    <input type="hidden" id="phd" value="{{votosPartidos.phd}}">
    <input type="hidden" id="moda" value="{{votosPartidos.moda}}">
    <input type="hidden" id="bis" value="{{votosPartidos.bis}}">
    <input type="hidden" id="pcr" value="{{votosPartidos.pcr}}">
    <input type="hidden" id="dxc" value="{{votosPartidos.dxc}}">
    <input type="hidden" id="famplio" value="{{votosPartidos.famplio}}">
    <input type="hidden" id="udc" value="{{votosPartidos.udc}}">
    <input type="hidden" id="pqdc" value="{{votosPartidos.pqdc}}">
    <input type="hidden" id="plr" value="{{votosPartidos.plr}}">
    <input type="hidden" id="fp" value="{{votosPartidos.fp}}">
    <input type="hidden" id="fnp" value="{{votosPartidos.fnp}}">
    <input type="hidden" id="apd" value="{{votosPartidos.apd}}">
    <input type="hidden" id="verde" value="{{votosPartidos.verde}}">
    <input type="hidden" id="ppc" value="{{votosPartidos.ppc}}">
    <input type="hidden" id="pal" value="{{votosPartidos.pal}}">
    <input type="hidden" id="prsd" value="{{votosPartidos.prsd}}">
    <input type="hidden" id="pdp" value="{{votosPartidos.pdp}}">
    <input type="hidden" id="pdi" value="{{votosPartidos.pdi}}">
    <input type="hidden" id="pri" value="{{votosPartidos.pri}}">
    <input type="hidden" id="pun" value="{{votosPartidos.pun}}">
    <input type="hidden" id="pnvc" value="{{votosPartidos.pnvc}}">
    <input type="hidden" id="pp" value="{{votosPartidos.pp}}">
    <input type="hidden" id="apld" value="{{votosAlianzas.pld}}">
    <input type="hidden" id="aprm" value="{{votosAlianzas.prm}}">
    <input type="hidden" id="afp" value="{{votosAlianzas.fp}}">
    <input type="hidden" id="aalpais" value="{{votosAlianzas.alpais}}">
    <input type="hidden" id="averde" value="{{votosAlianzas.verde}}">
    <input type="hidden" id="apdi" value="{{votosAlianzas.pdi}}">
    <input type="hidden" id="apnvc" value="{{votosAlianzas.pnvc}}">

</form>









<section class="col-lg-12" style="padding-left: 0; padding-right:0; margin-top: 1em;">
        {{!-- <div class="card card-secondary card-outline-tabs">
            <div class="card-header p-0 border-bottom-0">
                <ul class="nav nav-tabs flex-lg-row flex-column" id="resultados-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="colegios-tab" data-toggle="tab" href="#colegios" role="tab" aria-controls="colegios" aria-selected="true" onclick="opcionesToolbarController.loadColegios()">Colegios</a>
                    </li>
                    <li id="Grafica-rar" class="nav-item presentarBoletin">
                        <a class="nav-link" id="graficos-rar-tab" data-toggle="tab" data-tipo-resultado="A" href="#graficos" role="tab" aria-controls="graficos" aria-selected="false">
                            Resultados Alianzas Resumido
                        </a>
                    </li>

                    <li id="Grafica-rad" class="nav-item presentarBoletin">
                        <a class="nav-link" id="graficos-rad-tab" data-toggle="tab" data-tipo-resultado="AD" href="#graficos" role="tab" aria-controls="graficos" aria-selected="false">
                            Resultados Alianzas Detallado
                        </a>
                    </li>

                    <li id="Grafica-sa" class="nav-item presentarBoletin">
                        <a class="nav-link" id="graficos-sa-tab" data-toggle="tab" data-tipo-resultado="T" href="#graficos" role="tab" aria-controls="graficos" aria-selected="false">
                            Resultados Sin Alianzas
                        </a>
                    </li>
                </ul>
            </div>
            <div class="card-body os-host os-theme-dark os-host-resize-disabled os-host-scrollbar-horizontal-hidden os-host-scrollbar-vertical-hidden os-host-transition">
                <div class="os-resize-observer-host">
                    <div class="os-resize-observer observed" style="left: 0px; right: auto;">
                        
                    </div>
                    </div>
                    <div class="os-size-auto-observer" style="height: calc(100% + 1px); float: left;">
                        <div class="os-resize-observer observed">
                            
                        </div>
                        </div>
                        <div id="chart" class="os-content-glue" style="margin: 0px -8px; height: 732px; width: 1124px;">
                          

                            </canvas>
                        </div>
                        <div class="os-padding">
                            <div class="os-viewport os-viewport-native-scrollbars-invisible" style="right: 0px; bottom: 0px;">
                                <div class="os-content" style="padding: 0px 8px; height: auto; width: 100%;">
            </div>
            </div>
            </div>
            </div>
            </div> --}}
           
            
            {{!-- <div class="row justify-content-end mt-3" id="chartContainerParent">
                
                <div class="col-md-1" id="chartImgContainer">
                    <img class="imgChartA" src="/images/partidos/pld.png" class="card-img-top" alt="...">
                    <img class="imgChartA" src="/images/partidos/prm.png" class="card-img-top" alt="...">
                    <img class="imgChartA" src="/images/partidos/fp.png" class="card-img-top" alt="...">
                    <img class="imgChartA" src="/images/partidos/alpais.png" class="card-img-top" alt="...">
                    <img class="imgChartA" src="/images/partidos/verde.png" class="card-img-top" alt="...">
                    <img class="imgChartA" src="/images/partidos/pdi.png" class="card-img-top" alt="...">
                    <img class="imgChartA" src="/images/partidos/pnvc.png" class="card-img-top" alt="...">
                </div>
                <div class="col-md-11" id="chartContainer">
                   
                    <canvas id="myChart" width="100%" height="50em"></canvas>
              
                </div>
                
            </div> --}}

            <div class="row">
                <div class="card" style="width: 100%;">
                    <div class="card-header p-0 border-bottom-0">
                <ul class="nav nav-tabs flex-lg-row flex-column" id="resultados-tabs" role="tablist">
                    {{!-- <li class="nav-item">
                        <a class="nav-link active" id="colegios-tab" data-toggle="tab" href="#colegios" role="tab" aria-controls="colegios" aria-selected="true" onclick="opcionesToolbarController.loadColegios()">Colegios</a>
                    </li> --}}
                    <li id="Grafica-rar" class="nav-item presentarBoletin">
                        <a class="nav-link" id="graficos-rar-tab" data-toggle="tab" data-tipo-resultado="A" href="#graficos" role="tab" aria-controls="graficos" aria-selected="false">
                            Resultados Alianzas Resumido
                        </a>
                    </li>

                    {{!-- <li id="Grafica-rad" class="nav-item presentarBoletin">
                        <a class="nav-link" id="graficos-rad-tab" data-toggle="tab" data-tipo-resultado="AD" href="#graficos" role="tab" aria-controls="graficos" aria-selected="false">
                            Resultados Alianzas Detallado
                        </a>
                    </li> --}}

                    <li id="Grafica-sa" class="nav-item presentarBoletin">
                        <a class="nav-link" id="graficos-sa-tab" data-toggle="tab" data-tipo-resultado="T" href="#graficos" role="tab" aria-controls="graficos" aria-selected="false">
                            Resultados Sin Alianzas
                        </a>
                    </li>
                </ul>
            </div>
            <div class="card-body"> 
                <div class="row">

                
                <div class="col-md-1" id="chartImgContainer">
                    <img class="imgChartA" src="/images/partidos/pld.png" class="card-img-top" alt="...">
                    <img class="imgChartA" src="/images/partidos/prm.png" class="card-img-top" alt="...">
                    <img name="img3" class="imgChartA" src="/images/partidos/fp.png" class="card-img-top" alt="...">
                    <img class="imgChartA" src="/images/partidos/alpais.png" class="card-img-top" alt="...">
                    <img class="imgChartA" src="/images/partidos/verde.png" class="card-img-top" alt="...">
                    <img class="imgChartA" src="/images/partidos/pdi.png" class="card-img-top" alt="...">
                    <img class="imgChartA" src="/images/partidos/pnvc.png" class="card-img-top" alt="...">
                </div>
                <div class="col-md-11" id="chartContainer">
                   
                    <canvas id="myChart" width="100%" ></canvas>
              
                </div>
                </div>
            </div>
                </div>
            </div>
    </section>

      
<script type="text/javascript" src="https://chartjs-plugin-datalabels.netlify.com/chartjs-plugin-datalabels.js"></script> 
<script>
   let pld = document.getElementById('pld').value;
    let prm = document.getElementById('prm').value;
    let prd = document.getElementById('prd').value;
    let prsc = document.getElementById('prsc').value;
    let alpais = document.getElementById('alpais').value;
    let phd = document.getElementById('phd').value;
    let moda = document.getElementById('moda').value;
    let bis = document.getElementById('bis').value;
    let pcr = document.getElementById('pcr').value;
    let dxc = document.getElementById('dxc').value;
    let famplio = document.getElementById('famplio').value;
    let udc = document.getElementById('udc').value;
    let pqdc = document.getElementById('pqdc').value;
    let plr = document.getElementById('plr').value;
    let fp = document.getElementById('fp').value;
    let fnp = document.getElementById('fnp').value;
    let apd = document.getElementById('apd').value;
    let verde = document.getElementById('verde').value;
    let ppc = document.getElementById('ppc').value;
    let pal = document.getElementById('pal').value;
    let prsd = document.getElementById('prsd').value;
    let pdp = document.getElementById('pdp').value;
    let pdi = document.getElementById('pdi').value;
    let pri = document.getElementById('pri').value;
    let pun = document.getElementById('pun').value;
    let pnvc = document.getElementById('pnvc').value;
    let pp = document.getElementById('pp').value;
    let apld = document.getElementById('apld').value;
    let aprm = document.getElementById('aprm').value;
    let afp = document.getElementById('afp').value;
    let aalpais = document.getElementById('alpais').value;
    let averde = document.getElementById('averde').value;
    let apdi = document.getElementById('apdi').value;
    let apnvc = document.getElementById('apnvc').value;
    let chartContainer = document.getElementById('chartContainer');
    let chartImgContainer = document.getElementById('chartImgContainer');
    const btnGraficosAlianzas =  document.getElementById('graficos-rar-tab');
    const btnGraficosSinAlianzas =  document.getElementById('graficos-sa-tab');

    const imgs = {
            img1: document.createElement('img'),
            img2: document.createElement('img'),
            img3: document.createElement('img'),
            img4: document.createElement('img'),
            img5: document.createElement('img'),
            img6: document.createElement('img'),
            img7: document.createElement('img'),
            img8: document.createElement('img'),
            img9: document.createElement('img'),
            img10: document.createElement('img'),
            img11: document.createElement('img'),
            img12: document.createElement('img'),
            img13: document.createElement('img'),
            img14: document.createElement('img'),
            img15: document.createElement('img'),
            img16: document.createElement('img'),
            img17: document.createElement('img'),
            img18: document.createElement('img'),
            img19: document.createElement('img'),
            img20: document.createElement('img'),
            img21: document.createElement('img'),
            img22: document.createElement('img'),
            img23: document.createElement('img'),
            img24: document.createElement('img'),
            img25: document.createElement('img'),
            img26: document.createElement('img'),
            img27: document.createElement('img'),
        };

    imgs.img1.setAttribute('src', '/images/partidos/pld.png');
    imgs.img2.setAttribute('src', '/images/partidos/prm.png');
    imgs.img3.setAttribute('src', '/images/partidos/prd.png');
    imgs.img4.setAttribute('src', '/images/partidos/prsc.png');
    imgs.img5.setAttribute('src', '/images/partidos/alpais.png');
    imgs.img6.setAttribute('src', '/images/partidos/phd.png');
    imgs.img7.setAttribute('src', '/images/partidos/moda.png');
    imgs.img8.setAttribute('src', '/images/partidos/bis.png');
    imgs.img9.setAttribute('src', '/images/partidos/pcr.png');
    imgs.img10.setAttribute('src', '/images/partidos/dxc.png');
    imgs.img11.setAttribute('src', '/images/partidos/famplio.png');
    imgs.img12.setAttribute('src', '/images/partidos/udc.png');
    imgs.img13.setAttribute('src', '/images/partidos/pqdc.png');
    imgs.img14.setAttribute('src', '/images/partidos/plr.png');
    imgs.img15.setAttribute('src', '/images/partidos/fp.png');
    imgs.img16.setAttribute('src', '/images/partidos/fnp.png');
    imgs.img17.setAttribute('src', '/images/partidos/apd.png');
    imgs.img18.setAttribute('src', '/images/partidos/verde.png');
    imgs.img19.setAttribute('src', '/images/partidos/ppc.png');
    imgs.img20.setAttribute('src', '/images/partidos/pal.png');
    imgs.img21.setAttribute('src', '/images/partidos/prsd.png');
    imgs.img22.setAttribute('src', '/images/partidos/pdp.png');
    imgs.img23.setAttribute('src', '/images/partidos/pdi.png');
    imgs.img24.setAttribute('src', '/images/partidos/pri.png');
    imgs.img25.setAttribute('src', '/images/partidos/pun.png');
    imgs.img26.setAttribute('src', '/images/partidos/pnvc.png');
    imgs.img27.setAttribute('src', '/images/partidos/pp.png');

    
    console.log(imgs);
    var ctx = document.getElementById('myChart');

    btnGraficosSinAlianzas.addEventListener('click', () => {
        let myChart2 = document.createElement('canvas');
        myChart2.id = 'myChart2';
        myChart2.width = '100%';
        {{!-- myChart2.style.height = '100em'; --}}
        chartContainer.innerHTML = '';
        chartContainer.appendChild(myChart2);
        chartImgContainer.innerHTML = '';
        
        for(let prop in imgs ) {
        imgs[prop].classList.add('imgChartB', 'card-img-top');
        imgs[prop].style.height= '2.6em';
        
        }

        for(let i = 1 ; i < 28; i++){
            let number = 'img' + i;
            chartImgContainer.appendChild(imgs[number]);
        }
        console.log(chartContainer);

        ctx = document.getElementById('myChart2');

        myChart2 = new Chart(ctx, {
    type: 'horizontalBar',
    data: {
        labels: ['PLD', 'PRM', 'PRD', 'PRSC', 'ALPAIS', 'PHD', "MODA", 'BIS', 'PCR','DXC','HOLA','HOLA','PLD', 'PRM', 'PRD', 'ALPAIS', 'P. VERDE', 'PDI', "PNVC", 'HOLA', 'HOLA','HOLA','HOLA','HOLA'],
        datasets: [{
            {{!-- label: ['PLD Y ALIADOS', 'PRM Y ALIADOS'], --}}
            data: [pld, prm, prd, prsc, alpais, phd, moda, bis, pcr, dxc],
            backgroundColor: [
                'rgba(102, 0, 102, 0.3)',
                'rgba(54, 162, 235, 0.3)',
                'rgba(0, 0, 250, 0.3)',
                'rgba(255, 0, 0, 0.3)',
                'rgba(204, 255, 102, 0.3)',
                'rgba(255, 159, 64, 0.3)',
                'rgba(255, 0, 0, 0.3)',
                'rgba(204, 255, 102, 0.3)',
                'rgba(255, 159, 64, 0.3)',
                'rgba(54, 162, 235, 0.3)',

            ],
            borderColor: [
                'rgba(102, 0, 102, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(0, 0, 250, 1)',
                'rgba(255, 0, 0, 1)',
                'rgba(204, 255, 102, 1)',
                'rgba(255, 159, 64, 1',
                'rgba(255, 0, 0, 1)',
                'rgba(204, 255, 102, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(54, 162, 235, 1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                },gridLines: {
                color: "rgba(0, 0, 0, 0)",
            }
            }],
            xAxes: [{
                ticks: {
                    beginAtZero: true
                },gridLines: {
                color: "rgba(0, 0, 0, 0)",
            }
            }] 
        },
        title: {
            text: 'Votos Sin Alianza',
            display:true,
            fontSize: 25,
            padding: 4
        },
        legend: {
            display: false
        },
        plugins: {
      datalabels: {
        align: 'end',
        anchor: 'end',
        backgroundColor: function(context) {
          return context.dataset.backgroundColor;
        },
        borderRadius: 4,
        color: 'black',
        formatter: function(value){
           return value;
        }
      }
    }
    }
});

});




    btnGraficosAlianzas.addEventListener('click', () => {
        let myChart3 = document.createElement('canvas');
        myChart3.id = 'myChart3';
        myChart3.width = '100%';
        myChart3.style.height = '32em';
        chartContainer.innerHTML = '';
        chartContainer.appendChild(myChart3);
        console.log(chartContainer);

        chartImgContainer.innerHTML = '';
        
        for(let prop in imgs ) {
        imgs[prop].classList.add('imgChartA', 'card-img-top');
        imgs[prop].style.height= '2.6em';
        
        }
        
        chartImgContainer.appendChild(imgs.img1);
        chartImgContainer.appendChild(imgs.img2);
        chartImgContainer.appendChild(imgs.img15);
        chartImgContainer.appendChild(imgs.img5);
        chartImgContainer.appendChild(imgs.img18);
        chartImgContainer.appendChild(imgs.img23);
        chartImgContainer.appendChild(imgs.img26);

        ctx = document.getElementById('myChart3');

        myChart3 = new Chart(ctx, {
    type: 'horizontalBar',
    data: {
        labels: ['PLD Y AL.', 'PRM Y AL.', 'FP Y AL.', 'ALPAIS', 'P. VERDE', 'PDI', "PNVC"],
        datasets: [{
            {{!-- label: ['PLD Y ALIADOS', 'PRM Y ALIADOS'], --}}
            data: [apld, aprm, afp, aalpais, averde, apdi, apnvc],
            backgroundColor: [
                'rgba(102, 0, 102, 0.3)',
                'rgba(54, 162, 235, 0.3)',
                'rgba(0, 153, 51, 0.3)',
                'rgba(0, 255, 153, 0.3)',
                'rgba(204, 255, 102, 0.3)',
                'rgba(255, 159, 64, 0.3)',
                'rgba(255, 0, 0, 0.3)'

            ],
            borderColor: [
                'rgba(102, 0, 102, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(0, 153, 51, 1)',
                'rgba(0, 255, 153, 1)',
                'rgba(204, 255, 102, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(255, 0, 0, 0.3)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                },gridLines: {
                color: "rgba(0, 0, 0, 0)",
            }
            }],
            xAxes: [{
                ticks: {
                    beginAtZero: true
                },gridLines: {
                color: "rgba(0, 0, 0, 0)",
            }
            }] 
        },
        title: {
            text: 'Votos Por Alianza',
            display:true,
            fontSize: 25,
            padding: 4
        },
        legend: {
            display: false
        },
        plugins: {
      datalabels: {
        align: 'end',
        anchor: 'end',
        backgroundColor: function(context) {
          return context.dataset.backgroundColor;
        },
        borderRadius: 4,
        color: 'black',
        formatter: function(value){
           return value;
        }
      }
    }
    }
});

});



    var myChart = new Chart(ctx, {
    type: 'horizontalBar',
    data: {
        labels: ['PLD Y AL.', 'PRM Y AL.', 'FP Y AL.', 'ALPAIS', 'P. VERDE', 'PDI', "PNVC"],
        datasets: [{
            {{!-- label: ['PLD Y ALIADOS', 'PRM Y ALIADOS'], --}}
            data: [apld, aprm, afp, aalpais, averde, apdi, apnvc],
            backgroundColor: [
                'rgba(102, 0, 102, 0.3)',
                'rgba(54, 162, 235, 0.3)',
                'rgba(0, 153, 51, 0.3)',
                'rgba(0, 255, 153, 0.3)',
                'rgba(204, 255, 102, 0.3)',
                'rgba(255, 159, 64, 0.3)',
                'rgba(255, 0, 0, 0.3)'

            ],
            borderColor: [
                'rgba(102, 0, 102, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(0, 153, 51, 1)',
                'rgba(0, 255, 153, 1)',
                'rgba(204, 255, 102, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(255, 0, 0, 0.3)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                },gridLines: {
                color: "rgba(0, 0, 0, 0)",
            }
            }],
            xAxes: [{
                ticks: {
                    beginAtZero: true
                },gridLines: {
                color: "rgba(0, 0, 0, 0)",
            }
            }] 
        },
        title: {
            text: 'Votos Por Alianza',
            display:true,
            fontSize: 25,
            padding: 4
        },
        legend: {
            display: false
        },
        plugins: {
      datalabels: {
        align: 'end',
        anchor: 'end',
        backgroundColor: function(context) {
          return context.dataset.backgroundColor;
        },
        borderRadius: 4,
        color: 'black',
        formatter: function(value){
           return value;
        }
      }
    }
    }
});
</script>

{{!-- 'PLD', 'PRM', 'PRD', 'PRSC' 'ALPAIS', 'PHD', 'MODA', 'BIS', 'PCR', 'DXC', 'F.AMPLIO', 'UDC', 'PQDC', 'PLR', 'FP', 'FNP', 'APD',  'P. VERDE', 'PPC', 'PAL', 'PRSD', 'PDP', 'PDI', 'PRI', 'PUN', 'PNVC', 'PP' --}}