<div class="row title">
          <div class="col text-center">
              <h2>CENTRO:<span> {{acta.centro}}</span></h2>
              <h2>ACTA: <span class="resaltar">DIPUTADOS D1</span>   COLEGIO: <span class="resaltar">{{acta.colegio}}</span> </h2>
          </div>
      </div>
      <div class="row justify-content-center align-items-center">
          <div class="col-12 col-sm-9">
              <div class="card">
                  <div class="card-body">
                       <form class="form-container" action="/actas/actualizar/d2" method="POST">
                          <input type="hidden" name="centro" value="{{acta.centro}}">
                      <input type="hidden" name="colegio" value="{{acta.colegio}}">
                      <input type="hidden" name="municipio" value="{{acta.municipio}}">
                      <input type="hidden" name="digitador" value="{{acta.digitador}}">
              <div class="row justify-content-end text-center">
                <label for="inputEmail3" class="col-sm-2 col-form-label">1</label>
                <label for="inputEmail3" class="col-sm-2 col-form-label">2</label>
                <label for="inputEmail3" class="col-sm-2 col-form-label">3</label>
                <label for="inputEmail3" class="col-sm-2 col-form-label">4</label>
                <label for="inputEmail3" class="col-sm-2 col-form-label">5</label>

              </div>
                <div class="form-group row">
                  <label for="inputEmail3" class="col-sm-2 col-form-label">1.PLD</label>
                  
                  <div class="col-sm-2">
                    <input type="text" class="form-control" name="votos[pld]" required min="0" value="{{acta.votos.[0].pld.[0]}}">
                  </div>
                  <div class="col-sm-2">
                    <input type="number" class="form-control" name="votos[pld]" required min="0" value="{{acta.votos.[0].pld.[1]}}">
                  </div>
                  <div class="col-sm-2">
                    <input type="number" class="form-control" name="votos[pld]" required min="0" value="{{acta.votos.[0].pld.[2]}}">
                  </div>
                  <div class="col-sm-2">
                    <input type="number" class="form-control" name="votos[pld]" required min="0" value="{{acta.votos.[0].pld.[3]}}">
                  </div>
                  <div class="col-sm-2">
                    <input type="number" class="form-control" name="votos[pld]" required min="0" value="{{acta.votos.[0].pld.[4]}}">
                  </div>
                  
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">2.PRM</label>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[prm]" required min="0" value="{{acta.votos.[0].prm.[0]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[prm]" required min="0" value="{{acta.votos.[0].prm.[1]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[prm]" required min="0" value="{{acta.votos.[0].prm.[2]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[prm]" required min="0" value="{{acta.votos.[0].prm.[3]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[prm]" required min="0" value="{{acta.votos.[0].prm.[4]}}">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">3.PRD</label>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[prd]" required min="0" value="{{acta.votos.[0].prd.[0]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[prd]" required min="0" value="{{acta.votos.[0].prd.[1]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[prd]" required min="0" value="{{acta.votos.[0].prd.[2]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[prd]" required min="0" value="{{acta.votos.[0].prd.[3]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[prd]" required min="0" value="{{acta.votos.[0].prd.[4]}}">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">4.PRSC</label>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[prsc]" required min="0" value="{{acta.votos.[0].prsc.[0]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[prsc]" required min="0" value="{{acta.votos.[0].prsc.[1]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[prsc]" required min="0" value="{{acta.votos.[0].prsc.[2]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[prsc]" required min="0" value="{{acta.votos.[0].prsc.[3]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[prsc]" required min="0" value="{{acta.votos.[0].prsc.[4]}}">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">5.ALPAIS</label>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[alpais]" required min="0" value="{{acta.votos.[0].alpais.[0]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[alpais]" required min="0" value="{{acta.votos.[0].alpais.[1]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[alpais]" required min="0" value="{{acta.votos.[0].alpais.[2]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[alpais]" required min="0" value="{{acta.votos.[0].alpais.[3]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[alpais]" required min="0" value="{{acta.votos.[0].alpais.[4]}}">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">6.PHD</label>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[phd]" required min="0" value="{{acta.votos.[0].phd.[0]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[phd]" required min="0" value="{{acta.votos.[0].phd.[1]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[phd]" required min="0" value="{{acta.votos.[0].phd.[2]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[phd]" required min="0" value="{{acta.votos.[0].phd.[3]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[phd]" required min="0" value="{{acta.votos.[0].phd.[4]}}">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">7.MODA</label>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[moda]" required min="0" value="{{acta.votos.[0].moda.[0]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[moda]" required min="0" value="{{acta.votos.[0].moda.[1]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[moda]" required min="0" value="{{acta.votos.[0].moda.[2]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[moda]" required min="0" value="{{acta.votos.[0].moda.[3]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[moda]" required min="0" value="{{acta.votos.[0].moda.[4]}}">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">8.BIS</label>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[bis]" required min="0" value="{{acta.votos.[0].bis.[0]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[bis]" required min="0" value="{{acta.votos.[0].bis.[1]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[bis]" required min="0" value="{{acta.votos.[0].bis.[2]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[bis]" required min="0" value="{{acta.votos.[0].bis.[3]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[bis]" required min="0" value="{{acta.votos.[0].bis.[4]}}">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">9.PCR</label>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[pcr]" required min="0" value="{{acta.votos.[0].pcr.[0]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[pcr]" required min="0" value="{{acta.votos.[0].pcr.[1]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[pcr]" required min="0" value="{{acta.votos.[0].pcr.[2]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[pcr]" required min="0" value="{{acta.votos.[0].pcr.[3]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[pcr]" required min="0" value="{{acta.votos.[0].pcr.[4]}}">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">10.DXC</label>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[dxc]" required min="0" value="{{acta.votos.[0].dxc.[0]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[dxc]" required min="0" value="{{acta.votos.[0].dxc.[1]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[dxc]" required min="0" value="{{acta.votos.[0].dxc.[2]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[dxc]" required min="0" value="{{acta.votos.[0].dxc.[3]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[dxc]" required min="0" value="{{acta.votos.[0].dxc.[4]}}">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">11.F. AMPLIO</label>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[famplio]" required min="0" value="{{acta.votos.[0].famplio.[0]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[famplio]" required min="0" value="{{acta.votos.[0].famplio.[1]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[famplio]" required min="0" value="{{acta.votos.[0].famplio.[2]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[famplio]" required min="0" value="{{acta.votos.[0].famplio.[3]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[famplio]" required min="0" value="{{acta.votos.[0].famplio.[4]}}">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">12.UDC</label>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[udc]" required min="0" value="{{acta.votos.[0].udc.[0]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[udc]" required min="0" value="{{acta.votos.[0].udc.[1]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[udc]" required min="0" value="{{acta.votos.[0].udc.[2]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[udc]" required min="0" value="{{acta.votos.[0].udc.[3]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[udc]" required min="0" value="{{acta.votos.[0].udc.[4]}}">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">13.PQDC</label>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[pqdc]" required min="0" value="{{acta.votos.[0].pqdc.[0]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[pqdc]" required min="0" value="{{acta.votos.[0].pqdc.[1]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[pqdc]" required min="0" value="{{acta.votos.[0].pqdc.[2]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[pqdc]" required min="0" value="{{acta.votos.[0].pqdc.[3]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[pqdc]" required min="0" value="{{acta.votos.[0].pqdc.[4]}}">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">14.PLR</label>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[plr]" required min="0" disabled>
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[plr]" required min="0" disabled>
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[plr]" required min="0" disabled>
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[plr]" required min="0" disabled>
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[plr]" required min="0" disabled>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">15.FP</label>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[fp]" required min="0" value="{{acta.votos.[0].fp.[0]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[fp]" required min="0" value="{{acta.votos.[0].fp.[1]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[fp]" required min="0" value="{{acta.votos.[0].fp.[2]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[fp]" required min="0" value="{{acta.votos.[0].fp.[3]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[fp]" required min="0" value="{{acta.votos.[0].fp.[4]}}">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">16.FNP</label>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[fnp]" required min="0" value="{{acta.votos.[0].fnp.[0]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[fnp]" required min="0" value="{{acta.votos.[0].fnp.[1]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[fnp]" required min="0" value="{{acta.votos.[0].fnp.[2]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[fnp]" required min="0" value="{{acta.votos.[0].fnp.[3]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[fnp]" required min="0" value="{{acta.votos.[0].fnp.[4]}}">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">17.APD</label>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[apd]" required min="0" value="{{acta.votos.[0].apd.[0]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[apd]" required min="0" value="{{acta.votos.[0].apd.[1]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[apd]" required min="0" value="{{acta.votos.[0].apd.[2]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[apd]" required min="0" value="{{acta.votos.[0].apd.[3]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[apd]" required min="0" value="{{acta.votos.[0].apd.[4]}}">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">18.VERDE</label>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[verde]" required min="0" value="{{acta.votos.[0].verde.[0]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[verde]" required min="0" value="{{acta.votos.[0].verde.[1]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[verde]" required min="0" value="{{acta.votos.[0].verde.[2]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[verde]" required min="0" value="{{acta.votos.[0].verde.[3]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[verde]" required min="0" value="{{acta.votos.[0].verde.[4]}}">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">19.PPC</label>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[ppc]" required min="0" value="{{acta.votos.[0].ppc.[0]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[ppc]" required min="0" value="{{acta.votos.[0].ppc.[1]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[ppc]" required min="0" value="{{acta.votos.[0].ppc.[2]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[ppc]" required min="0" value="{{acta.votos.[0].ppc.[3]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[ppc]" required min="0" value="{{acta.votos.[0].ppc.[4]}}">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">20.PAL</label>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[pal]" required min="0" value="{{acta.votos.[0].pal.[0]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[pal]" required min="0" value="{{acta.votos.[0].pal.[1]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[pal]" required min="0" value="{{acta.votos.[0].pal.[2]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[pal]" required min="0" value="{{acta.votos.[0].pal.[3]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[pal]" required min="0" value="{{acta.votos.[0].pal.[4]}}">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">21.PRSD</label>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[prsd]" required min="0" value="{{acta.votos.[0].prsd.[0]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[prsd]" required min="0" value="{{acta.votos.[0].prsd.[1]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[prsd]" required min="0" value="{{acta.votos.[0].prsd.[2]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[prsd]" required min="0" value="{{acta.votos.[0].prsd.[3]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[prsd]" required min="0" value="{{acta.votos.[0].prsd.[4]}}">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">22.PDP</label>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[pdp]" required min="0" value="{{acta.votos.[0].pdp.[0]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[pdp]" required min="0" value="{{acta.votos.[0].pdp.[1]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[pdp]" required min="0" value="{{acta.votos.[0].pdp.[2]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[pdp]" required min="0" value="{{acta.votos.[0].pdp.[3]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[pdp]" required min="0" value="{{acta.votos.[0].pdp.[4]}}">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">23.PDI</label>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[pdi]" required min="0" disabled>
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[pdi]" required min="0" disabled>
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[pdi]" required min="0" disabled>
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[pdi]" required min="0" disabled>
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[pdi]" required min="0" disabled>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">24.PRI</label>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[pri]" required min="0" value="{{acta.votos.[0].pri.[0]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[pri]" required min="0" value="{{acta.votos.[0].pri.[1]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[pri]" required min="0" value="{{acta.votos.[0].pri.[2]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[pri]" required min="0" value="{{acta.votos.[0].pri.[3]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[pri]" required min="0" value="{{acta.votos.[0].pri.[4]}}">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">25.PUN</label>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[pun]" required min="0" value="{{acta.votos.[0].pun.[0]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[pun]" required min="0" value="{{acta.votos.[0].pun.[1]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[pun]" required min="0" value="{{acta.votos.[0].pun.[2]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[pun]" required min="0" value="{{acta.votos.[0].pun.[3]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[pun]" required min="0" value="{{acta.votos.[0].pun.[4]}}">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">26.PNVC</label>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[pnvc]" required min="0" value="{{acta.votos.[0].pnvc.[0]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[pnvc]" required min="0" value="{{acta.votos.[0].pnvc.[1]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[pnvc]" required min="0" value="{{acta.votos.[0].pnvc.[2]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[pnvc]" required min="0" value="{{acta.votos.[0].pnvc.[3]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[pnvc]" required min="0" value="{{acta.votos.[0].pnvc.[4]}}">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">27.PP</label>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[pp]" required min="0" value="{{acta.votos.[0].pp.[0]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[pp]" required min="0" value="{{acta.votos.[0].pp.[1]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[pp]" required min="0" value="{{acta.votos.[0].pp.[2]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[pp]" required min="0" value="{{acta.votos.[0].pp.[3]}}">
                    </div>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="votos[pp]" required min="0" value="{{acta.votos.[0].pp.[4]}}">
                    </div>
                    
                  </div>

                   <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 col-form-label">VOTOS NULOS</label>
                    <div class="col-sm-9">
                      <input type="number" name="votosNulos" class="form-control" required min="0" value="{{acta.votosNulos}}">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 col-form-label">BOLETAS OBSERVADAS</label>
                    <div class="col-sm-9">
                      <input type="number" name="boletasObservadas" class="form-control" required min="0" value="{{acta.boletasObservadas}}">
                    </div>
                  </div>

                  
                <div class="form-group row justify-content-between">
                    <div class="col-sm-6">
                        <a href="/actas/verificar" class="btn btn-danger" style="width: 10em;">Atras</a>
                      </div>
                  <div class="col-sm-6 justify-alig-end">
                    <button type="submit" class="btn btn-primary" style="width: 10em;">Enviar</button>
                  </div>
                </div>
              </form>
          </div>
                  </div>
              </div>
            
      </div>